Repository Occulus-Server/Occulus-Eris, pull requests merged in 2020-12, with the labels that each got.

#49 The game will not start without anyone ready
  code/game/gamemodes/storyteller.dm
Labels: Bugfix, Ready to Merge

#48 Power cell tweaks
  cev_eris.dme
  zzzz_modular_occulus/code/modules/economy/power_cells.dm
Labels: Balance/Rebalance, Modular, Ready to Merge

#52 Fixes Job Department Constants
  code/__DEFINES/jobs.dm
  code/game/jobs/job/captain.dm
Labels: Bugfix, Code Cleanup, Priority: High, Ready to Merge, [REDACTED]

#34 Map fixes: aft section 2 blastdoor and shower airlock names
  maps/CEVEris/_CEV_Eris.dmm
Labels: Bugfix, Map Changes, Ready to Merge

#35 Shuffles Aegis Armory Up
  maps/CEVEris/_CEV_Eris.dmm
Labels: Balance/Rebalance, Map Changes, Ready to Merge

#10 Normalizes species temperature discomfort levels to reduce chatspam
  code/modules/mob/living/carbon/human/species/station/station.dm
Labels: Quality of Life, Ready for review

#54 Actually describes what lookout does in the vote screen
  zzz_modular_syzygy/storytellers/lookout.dm
Labels: Modular, Quality of Life, Ready to Merge

#42 Only nobles get selected as assassinate targets now
  code/datums/contract.dm
Labels: Feature, Ready to Merge

#43 Added air alarms to club dorms.
  maps/CEVEris/_CEV_Eris.dmm
Labels: Map Changes, Quality of Life, Ready to Merge

#44 Fixes duplicate core implants
  code/datums/setup_option/core_implants.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Bugfix, Priority: High, Ready to Merge

#45 Fix CMO access to their bloodmaking relic
  maps/CEVEris/_CEV_Eris.dmm
Labels: Bugfix, Map Changes, Ready to Merge

#47 Adds a disk of civilian grade guns to the ammo vendors
  cev_eris.dme
  code/game/machinery/vending_eclipse.dm
  zzzz_modular_occulus/code/datums/autolathe/guns.dm
  zzzz_modular_occulus/code/game/objects/items/weapons/autolathe_disks.dm
  zzzz_modular_occulus/code/modules/projectiles/guns/projectile/automatic/rx8.dm
  zzzz_modular_occulus/code/modules/projectiles/guns/projectile/pistol/ec9.dm
  zzzz_modular_occulus/code/modules/projectiles/guns/projectile/pistol/mk4.dm
  zzzz_modular_occulus/icons/obj/guns/projectile/ec9.dmi
  zzzz_modular_occulus/icons/obj/guns/projectile/mk4.dmi
  zzzz_modular_occulus/icons/obj/guns/projectile/rx8.dmi
Labels: Feature, Modular, Ready to Merge

#51 Gives Cruciform Bearers Basic Access To The Church
  maps/CEVEris/_CEV_Eris.dmm
Labels: Map Changes, Ready to Merge

#50 adds a mcmaint bar
  maps/CEVEris/_CEV_Eris.dmm
Labels: Map Changes, Ready to Merge

#53 Secret notes added to maint drops [Spoiler warning]
  cev_eris.dme
  zzzz_modular_occulus/code/game/objects/items/weapons/secrets.dm
Labels: Lore Compliance, Ready to Merge

#55 Added Teshari
  cev_eris.dme
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  zzz_modular_syzygy/code/modules/mob/living/carbon/human/species/station/station.dm
  zzz_modular_syzygy/code/modules/sprite_accessories/_accessory_hair.dm
  zzz_modular_syzygy/icons/mob/jamini-hair.dmi
  zzzz_modular_occulus/code/modules/mob/living/carbon/human/species/station.dm
  zzzz_modular_occulus/code/modules/sprite_accessories/_accessory_hair.dm
  zzzz_modular_occulus/code/modules/sprite_accessories/_accessory_tesh.dm
  zzzz_modular_occulus/icons/mob/human_races/r_tajaran_white.dmi
  zzzz_modular_occulus/icons/mob/human_races/r_teshari_white.dmi
  zzzz_modular_occulus/icons/mob/jamini-hair.dmi
  zzzz_modular_occulus/icons/mob/jamini-teshari.dmi
Labels: Code Cleanup, Feature, Lore, Lore Compliance, Ready to Merge, Sprites

#58 ports some oddities added to eris
  code/game/objects/items/oddities.dm
  icons/obj/oddities.dmi
Labels: Code Cleanup, Ready to Merge, Sprites, Upstream Update

#57 Added new marking - Sheep Taur - on request
  cev_eris.dme
  zzz_modular_syzygy/icons/mob/jamini-taurs.dmi
  zzzz_modular_occulus/code/modules/sprite_accessories/_accessories_sprite.dm
  zzzz_modular_occulus/icons/mob/jamini-ears.dmi
  zzzz_modular_occulus/icons/mob/jamini-markings.dmi
  zzzz_modular_occulus/icons/mob/jamini-tails.dmi
  zzzz_modular_occulus/icons/mob/jamini-taurs.dmi
Labels: Code Cleanup, Feature, Modular, Ready to Merge, Sprites

#59 New regs book for Aegis
  code/game/objects/items/weapons/manuals.dm
Labels: Lore Compliance, Ready to Merge

#61 Eris lore changes part 1
  cev_eris.dme
  code/controllers/communications.dm
  code/modules/mob/living/say.dm
  zzzz_modular_occulus/code/game/occulus-lore-fixes.dm
Labels: CI Failure, Changes Requested, Lore Compliance

#67 Adds in the Anomolous Data Measurement System
  cev_eris.dme
  code/modules/client/preference_setup/loadout/lists/misc.dm
  maps/CEVEris/_CEV_Eris.dmm
  zzzz_modular_occulus/code/game/objects/items/plush.dm
  zzzz_modular_occulus/code/modules/maint_expeditions/ADMS.dm
  zzzz_modular_occulus/icons/obj/ADMS.dmi
  zzzz_modular_occulus/icons/obj/plush.dmi
  zzzz_modular_occulus/maps/submaps/deepmaint_rooms/normal/normal_rooms.dm
  zzzz_modular_occulus/maps/submaps/deepmaint_rooms/normal/roachboss.dmm
Labels: Feature, Modular, Ready to Merge, [REDACTED]

#62 Players who click on the Observe button now get ghosts that look like their character
  code/modules/mob/new_player/new_player.dm
Labels: Feature, Ready to Merge

#76 Hivemind difficulty tweak
  code/game/objects/structures/burrows.dm
  code/modules/hivemind/core.dm
Labels: Balance/Rebalance, Priority: High, Ready to Merge

#72 nurse dress, modular and not spaghetti'd this time
  cev_eris.dme
  zzzz_modular_occulus/code/modules/clothing/under/jobs/medsci.dm
  zzzz_modular_occulus/code/modules/loadout/lists/uniforms.dm
  zzzz_modular_occulus/icons/inventory/uniform/mob.dmi
  zzzz_modular_occulus/icons/inventory/uniform/mob_fem.dmi
Labels: Feature, Modular, Ready to Merge

#74 Ikky's first map PR
  maps/CEVEris/_CEV_Eris.dmm
Labels: Lore Compliance, Map Changes, Ready to Merge

#68 Changes space bats into a nanoblob
  cev_eris.dme
  code/game/gamemodes/events/infestation.dm
  code/game/gamemodes/events/supply_pod.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  zzz_modular_syzygy/hugbox.dm
  zzzz_modular_occulus/code/modules/mob/living/simple_animal/hostile/nanoblob.dm
  zzzz_modular_occulus/icons/mob/nanoblob.dmi
Labels: Feature, Ready to Merge, Sprites

#73 Fixes RDConsole Exploit
  code/modules/research/rdconsole.dm
  zzzz_modular_occulus/code/modules/maint_expeditions/ADMS.dm
Labels: Bugfix, Feature, Ready to Merge

#78 Smol drone change
  zzzz_modular_occulus/code/game/occulus-lore-fixes.dm
Labels: Lore Compliance, Ready to Merge

#79 Ports NT equipment update.
  cev_eris.dme
  code/__DEFINES/item_aspects.dm
  code/__DEFINES/items.dm
  code/__DEFINES/weapons.dm
  code/datums/autolathe/biomatter.dm
  code/game/machinery/vending.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/autolathe_disks.dm
  code/game/objects/items/weapons/grenades/explosive.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/frag.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/game/objects/items/weapons/nt_melee.dm
  code/game/objects/items/weapons/storage/sheath.dm
  code/game/objects/items/weapons/sword_of_truth.dm
  code/game/objects/items/weapons/tools/mods/_upgrades.dm
  code/game/objects/items/weapons/tools/mods/mod_types.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/chaplain.dm
  code/modules/clothing/head/armor.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mob/living/living_defense.dm
  icons/inventory/back/mob.dmi
  icons/inventory/belt/mob.dmi
  icons/inventory/head/icon.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/icon.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/suit/mob_fem.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/grenade.dmi
  icons/obj/nt_melee.dmi
  icons/obj/sheath.dmi
  icons/obj/tool_upgrades.dmi
  zzzz_modular_occulus/code/game/objects/items/weapons/autolathe_disks.dm
  zzzz_modular_occulus/code/game/objects/items/weapons/mekhane_armory.dm
  zzzz_modular_occulus/code/modules/clothing/mekhanearmor.dm
Labels: Feature, Ready to Merge, Upstream Update

#80 Reverts nanoui vote window back to plain html
  code/controllers/subsystems/vote.dm
Labels: Priority: High, Quality of Life, Ready to Merge, Removal

#81 Ports the Revelation litany from upstream
  code/modules/core_implant/cruciform/rituals/base.dm
  code/modules/core_implant/ritual.dm
Labels: Feature, Ready to Merge, Upstream Update

#86 Fixed terminal drone bug
  zzzz_modular_occulus/code/game/occulus-lore-fixes.dm
Labels: Bugfix, Priority: High, Ready to Merge, Revert

#83 Ikky messes with global.dm
  code/datums/corporations.dm
  code/global.dm
Labels: Lore, Ready to Merge

#82 Cherry picking fun stuff from upstream
  code/datums/autolathe/clothing.dm
  code/datums/craft/recipes/clothing.dm
  code/datums/outfits/jobs/security.dm
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/autolathe_disks.dm
  code/game/objects/items/weapons/implant/implants/excelsior.dm
  code/game/objects/items/weapons/tools/mods/mod_types.dm
  code/game/objects/items/weapons/tools/tape.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/armor.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/suits/armor.dm
  code/modules/organs/internal/bones.dm
  icons/inventory/suit/icon.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/suit/mob_fem.dmi
  icons/obj/guns/energy/pulse.dmi
  icons/obj/stock_parts.dmi
  icons/obj/tools.dmi
Labels: Balance/Rebalance, Bugfix, Feature, Quality of Life, Ready to Merge, Sprites, Upstream Update

#84 Multiple balance passes
  cev_eris.dme
  code/modules/research/experiment.dm
  zzzz_modular_occulus/code/modules/maint_expeditions/ADMS.dm
  zzzz_modular_occulus/code/modules/projectiles/projectile/bullettypes.dm
Labels: Balance/Rebalance, Ready to Merge

#88 Litanies galore!
  cev_eris.dme
  code/modules/core_implant/cruciform/rituals/base.dm
  code/modules/core_implant/cruciform/rituals/inquisitor.dm
  zzzz_modular_occulus/code/modules/core_implant/cruciform/rituals/base.dm
  zzzz_modular_occulus/code/modules/core_implant/cruciform/rituals/priest.dm
Labels: Balance/Rebalance, Feature, Modular, Ready to Merge

#87 Section 3 Map Rework
  maps/CEVEris/_CEV_Eris.dmm
Labels: Map Changes, PR dependencies, Ready to Merge

#89 Fixed the new Mekhane weapons and armor and grenade names
  zzzz_modular_occulus/code/game/objects/items/weapons/mekhane_armory.dm
Labels: Lore Compliance, Ready to Merge

#91 minor mapfix
  maps/CEVEris/_CEV_Eris.dmm
Labels: Bugfix, Map Changes, Ready to Merge

#92 fixed bad link in the whitelist files
  code/game/jobs/whitelist.dm
  code/game/verbs/ooc.dm
Labels: Administrative, Code Cleanup, Priority: High, Ready to Merge

#95 Adds a christmas hat and adds it to the loadout
  cev_eris.dme
  zzzz_modular_occulus/code/modules/client/preference_setup/loadout/lists/headwear.dm
  zzzz_modular_occulus/code/modules/clothing/head/christmas.dm
  zzzz_modular_occulus/icons/inventory/head/christmashat.dmi
  zzzz_modular_occulus/icons/inventory/head/christmashatmob.dmi
Labels: Modular, Priority: High, Ready to Merge, Sprites

#97 adds new spooky maint area
  maps/CEVEris/_CEV_Eris.dmm
Labels: Map Changes

#93 Adds a new gun, the DS 'Glasgow'
  cev_eris.dme
  zzzz_modular_occulus/code/modules/projectiles/guns/energy/egun.dm
  zzzz_modular_occulus/icons/obj/guns/energy/glasgow.dmi
Labels: Feature, Modular, Ready to Merge, Sprites

#94 Enables Object Depossession
  code/modules/admin/verbs/possess.dm
Labels: Administrative, Bugfix, Ready to Merge

#98 Fixes a few miscellaneous mapping bugs
  maps/CEVEris/_CEV_Eris.dmm
Labels: Bugfix, Map Changes, Ready to Merge

#100 Robot and Mech fixes! Literally playable!
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_damage.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
Labels: Balance/Rebalance, Bugfix, Ready to Merge

#101 Adds music inspiration to jukeboxes!
  cev_eris.dme
  zzzz_modular_occulus/code/game/machinery/jukebox.dm
Labels: Modular, Quality of Life, Ready to Merge

#103 Nerfs the winebath
  code/modules/core_implant/cruciform/machinery/vat.dm
Labels: Balance/Rebalance, Ready to Merge

#102 Attempt 2 - Port Oscar!
  maps/CEVEris/Port_Oscar.dmm
Labels: Map Changes, Quality of Life, Ready to Merge

#104 Reworked storytellers.
  cev_eris.dme
  code/__DEFINES/storyteller_defines.dm
  code/game/gamemodes/storyteller_helpers.dm
  zzz_modular_syzygy/storytellers/events.dm
  zzz_modular_syzygy/storytellers/lookout.dm
  zzz_modular_syzygy/storytellers/mentor.dm
  zzzz_modular_occulus/code/game/gamemodes/storytellers/storyevent.dm
  zzzz_modular_occulus/code/game/gamemodes/storytellers/storytellers.dm
Labels: Balance/Rebalance, Bugfix, Code Cleanup, Feature, Modular, Ready to Merge

#105 ports erismed2 changes
  code/__DEFINES/damage_organs.dm
  code/__DEFINES/mobs.dm
  code/game/objects/items/devices/scanners/health.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/structures/medical_stand.dm
  code/modules/core_implant/cruciform/machinery/vat.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living_defense.dm
  code/modules/organs/blood.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/blood_vessels.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/internal_organ_processes.dm
  code/modules/organs/internal/kidneys.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/internal/muscles.dm
  code/modules/organs/internal/nerves.dm
  code/modules/organs/internal/stomach.dm
  code/modules/organs/organ_description.dm
  code/modules/reagents/reagents/nanites.dm
  code/modules/surgery/surgery_ui.dm
  nano/templates/surgery_organ.tmpl
  zzz_modular_syzygy/defib.dm
Labels: Balance/Rebalance, Feature, Ready to Merge, Upstream Update

#106 ports miscellanious pr's from eris
  code/game/machinery/computer/guestpass.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/damage.dm
  code/modules/organs/external/subtypes/robotic.dm
  icons/mob/animal.dmi
Labels: Balance/Rebalance, Feature, Quality of Life, Ready to Merge, Sprites, Upstream Update

#107 Fixed pickweight() selecting options with a weight of 0.
  code/__HELPERS/_lists.dm
Labels: Bugfix, Ready to Merge

#90 Another Big Church Update, now starring: The Eye of the Protector
  cev_eris.dme
  code/datums/autolathe/biomatter.dm
  code/datums/autolathe/devices.dm
  code/datums/perks/oddity.dm
  code/game/machinery/vending.dm
  code/game/objects/items/oddities.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/autolathe_disks.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/pouches.dm
  code/game/objects/structures/crates_lockers/closets/secure/chaplain.dm
  code/modules/clothing/spacesuits/void/neotheology.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/core_implant/cruciform/cruciform.dm
  code/modules/core_implant/cruciform/machinery/eotp.dm
  code/modules/core_implant/cruciform/machinery/obelisk.dm
  code/modules/core_implant/cruciform/rituals/group.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/sanity/sanity_mob.dm
  icons/effects/perks.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/eotp.dmi
  icons/obj/faction_item.dmi
  icons/obj/oddities.dmi
  icons/obj/stack/items.dmi
  icons/obj/storage.dmi
  maps/CEVEris/_CEV_Eris.dmm
  zzzz_modular_occulus/code/datums/perks/oddity.dm
  zzzz_modular_occulus/code/game/objects/items/oddities.dm
  zzzz_modular_occulus/code/game/objects/items/weapons/autolathe_disks.dm
  zzzz_modular_occulus/code/game/objects/items/weapons/grenades/chem_grenade.dm
  zzzz_modular_occulus/code/game/objects/items/weapons/mekhane_armory.dm
Labels: Balance/Rebalance, Bugfix, Feature, Lore Compliance, Map Changes, Modular, Ready to Merge, Sprites, Upstream Update
