Repository Occulus-Server/Occulus-Eris, pull requests merged in 2021-02, with the labels that each got.

#190 Makes the oldifier apply to non-lethal shots from a trash gun
  cev_eris.dme
  zzzz_modular_occulus/code/modules/projectiles/projectile/projectile.dm
Labels: Bugfix, Ready to Merge

#191 Makes oldifier affect accuracy, makes accuracy visible in UI
  cev_eris.dme
  zzzz_modular_occulus/code/modules/client/asset_cashe.dm
  zzzz_modular_occulus/code/modules/projectiles/gun.dm
  zzzz_modular_occulus/code/modules/projectiles/gun_hud_actions.dm
  zzzz_modular_occulus/code/modules/scrap/oldificator.dm
  zzzz_modular_occulus/nano/templates/weapon_stats_updated.tmpl
Labels: Balance/Rebalance, Modular, Quality of Life, Ready to Merge

#193 Ports multiple upstreams from Eris.
  cev_eris.dme
  code/__DEFINES/mobs.dm
  code/_onclick/item_attack.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/weapons/autopsy.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/mob_grab_specials.dm
  code/modules/modular_computers/file_system/reports/report_field.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/surgery_helpers.dm
  code/modules/projectiles/ammunition/ammo_kits.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/revolver/sky_driver.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/bullettypes.dm
  code/modules/surgery/organic.dm
  code/modules/surgery/surgery.dm
  icons/obj/ammo.dmi
Labels: Bugfix, Feature, Ready to Merge, Sprites, Upstream Update

#194 Grants disease immunity to FBPs and those with synthetic lungs/liver
  code/modules/virus2/disease2.dm
Labels: Balance/Rebalance, Bugfix, Ready to Merge

#197 CyberJacket 2077: Porting style fixes and rebalances from upstream and more fashion!
  code/__DEFINES/sanity.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/armor.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/scrap/oldificator.dm
  zzzz_modular_occulus/code/modules/client/preference_setup/loadout/lists/suits.dm
  zzzz_modular_occulus/code/modules/clothing/head/hood.dm
  zzzz_modular_occulus/code/modules/clothing/masks/masks.dm
  zzzz_modular_occulus/code/modules/clothing/suit/hooded.dm
  zzzz_modular_occulus/code/modules/clothing/suit/suits.dm
  zzzz_modular_occulus/icons/inventory/head/hoods.dmi
  zzzz_modular_occulus/icons/inventory/suit/jacket.dmi
  zzzz_modular_occulus/icons/inventory/suit/jacketmob.dmi
  zzzz_modular_occulus/icons/inventory/suit/jacketmob_fem.dmi
Labels: Balance/Rebalance, Feature, Modular, Ready for review, Sprites, Upstream Update

#164 Ports slot machines
  cev_eris.dme
  code/game/machinery/slotmachine.dm
  code/game/objects/items/weapons/circuitboards/machinery/bar.dm
  icons/obj/machines/slotmachine.dmi
  maps/CEVEris/_CEV_Eris.dmm
Labels: Feature, Map Changes, Ready to Merge, Upstream Update

#172 Disables reverse-pouring
  code/modules/reagents/atomic_distillery.dm
  code/modules/reagents/enricher.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Quality of Life, Ready to Merge

#174 More soulcrypt stuff! Featuring: The Manipulation Tool
  cev_eris.dme
  code/modules/soulcrypt/access_update_tool.dm
  code/modules/soulcrypt/base_implant.dm
  code/modules/soulcrypt/module.dm
  maps/CEVEris/_CEV_Eris.dmm
  zzzz_modular_occulus/code/modules/soulcrypt/extractor.dm
  zzzz_modular_occulus/code/modules/soulcrypt/holochip.dm
  zzzz_modular_occulus/code/modules/soulcrypt/modules/painkiller.dm
  zzzz_modular_occulus/code/modules/soulcrypt/modules/squawk.dm
  zzzz_modular_occulus/code/modules/soulcrypt/modules/tempperk.dm
  zzzz_modular_occulus/code/modules/soulcrypt/repair_tool.dm
  zzzz_modular_occulus/icons/obj/soultools.dmi
Labels: Code Cleanup, Feature, Map Changes, Quality of Life, Ready to Merge, Sprites

#183 Removal of Excelsior pending complete rework
  code/game/gamemodes/roleset/faction/excelsior.dm
  zzzz_modular_occulus/code/game/gamemodes/storytellers/storyevent.dm
Labels: Balance/Rebalance, Ready to Merge

#184 Lagfix pt.2: Now with functional prosthesis markings and ACTUAL icon cache implementation
  code/modules/organs/external/organ_icon.dm
  code/modules/organs/external/subtypes/robotic.dm
Labels: Bugfix, Priority: High, Ready to Merge

#196 Map adjustments
  maps/CEVEris/_CEV_Eris.dmm
Labels: Map Changes, Quality of Life, Ready to Merge

#198 Tweak chemistry dispenser energy usage for chemist QoL
  code/__DEFINES/chemistry.dm
Labels: Pending Community Discussion/Vote, Quality of Life

#199 ports more eris PRs we missed
  code/modules/hivemind/mobs.dm
  icons/mob/hivemind.dmi
Labels: Feature, Ready to Merge, Sprites, Upstream Update

#200 Quick fix for #199
  code/modules/hivemind/objects.dm
Labels: Bugfix, Priority: High, Ready for review

#201 Hotfix for map change
  maps/CEVEris/_CEV_Eris.dmm
Labels: Bugfix, Map Changes, Ready for review

#214 Add range check for mech clamp/drill
  code/modules/mechs/equipment/utility.dm
Labels: Balance/Rebalance, Bugfix, Ready to Merge

#211 Jamini Runtime Fixes
  cev_eris.dme
  code/_onclick/hud/screen_objects/base_screen_objects.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/overmap/exoplanets/random_map.dm
  maps/CEVEris/_CEV_Eris.dmm
  maps/submaps/planetary_ruins/crashed_pod/crashed_pod.dm
  maps/submaps/planetary_ruins/crashed_pod/crashed_pod.dmm
  maps/submaps/planetary_ruins/datacapsule/datacapsule.dm
  maps/submaps/planetary_ruins/deserted_lab/deserted_lab.dm
  maps/submaps/planetary_ruins/deserted_lab/deserted_lab.dmm
  maps/submaps/planetary_ruins/drill_site/backup/drill_site.dmm
  maps/submaps/planetary_ruins/drill_site/drill_site.dmm
  maps/submaps/planetary_ruins/ec_old_crash/ec_old_crash.dm
  maps/submaps/planetary_ruins/fountain/fountain_ruin.dm
  maps/submaps/planetary_ruins/fountain/fountain_ruin.dmm
  maps/submaps/planetary_ruins/hut/backup/hut.dmm
  maps/submaps/planetary_ruins/hut/hut.dmm
  maps/submaps/planetary_ruins/lodge/lodge.dm
  maps/submaps/planetary_ruins/lodge/lodge.dmm
  maps/submaps/planetary_ruins/monoliths/monoliths.dm
  maps/submaps/planetary_ruins/oasis/oasis.dm
  maps/submaps/planetary_ruins/oasis/oasis3.dmm
  maps/submaps/planetary_ruins/oldpod/oldpod.dm
  maps/submaps/planetary_ruins/oldpod/oldpod.dmm
  maps/submaps/planetary_ruins/radshrine/radshrine.dm
  maps/submaps/planetary_ruins/radshrine/radshrine.dmm
  maps/submaps/planetary_ruins/spider_nest/spider_nest.dm
  maps/submaps/planetary_ruins/spider_nest/spider_nest.dmm
  maps/submaps/planetary_ruins/tar_anomaly/backup/tar_anomaly.dmm
  maps/submaps/planetary_ruins/tar_anomaly/tar_anomaly.dmm
  zzzz_modular_occulus/code/game/jobs/department.dm
  zzzz_modular_occulus/code/game/jobs/job/security.dm
Labels: Bugfix, Feature, Map Changes, Quality of Life, Ready for review

#207 Updates the space fortress map
  maps/encounters/spacefortress/spacefortress.dmm
Labels: Map Changes, Modular, Ready to Merge

#202 Finalizes species lore, also re-added and re-named birdsong
  code/__DEFINES/species_languages.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/carbon/human/species/station/moth.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
Labels: Lore, Ready to Merge

#208 Quick lazy port of mob optimizations from upstream
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/superior_animal/roach/types/roachling.dm
  code/modules/mob/living/carbon/superior_animal/roach/types/support.dm
  code/modules/mob/living/carbon/viruses.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/sanity/breakdown.dm
  code/modules/virus2/disease2.dm
Labels: Code Cleanup, Ready to Merge, Upstream Update

#209 Power Cell Adjustments
  cev_eris.dme
  code/game/machinery/vending.dm
  code/game/machinery/vending_eclipse.dm
  zzz_modular_eclipse/gunvendor/vendor.dmi
  zzz_modular_eclipse/radio_squelch/radios.dm
  zzz_modular_eclipse/sawnoff/sawnoff.dm
  zzz_modular_eclipse/storytellers/tyrant.dm
  zzz_modular_syzygy/cargoexports.dm
  zzz_modular_syzygy/icons/obj/vending.dmi
  zzz_modular_syzygy/oddities.dm
  zzzz_modular_occulus/code/controllers/multiline_me.dm
  zzzz_modular_occulus/code/controllers/pixelshift.dm
  zzzz_modular_occulus/code/game/gamemodes/storytellers/storytellers.dm
  zzzz_modular_occulus/code/game/machinery/smartfridge.dm
  zzzz_modular_occulus/code/game/objects/items/oddities.dm
  zzzz_modular_occulus/code/game/objects/structures/evacsign.dm
  zzzz_modular_occulus/code/modules/economy/power_cells.dm
  zzzz_modular_occulus/code/modules/economy/price_list_fixed.dm
  zzzz_modular_occulus/code/modules/economy/vending.dm
  zzzz_modular_occulus/code/modules/gunkits.dm
  zzzz_modular_occulus/code/modules/projectiles/guns/projectile/shotgun/sawnoff.dm
  zzzz_modular_occulus/code/modules/radio/radios.dm
  zzzz_modular_occulus/icons/obj/evac_sign.dmi
  zzzz_modular_occulus/icons/obj/guns/projectile/sawnshotgun.dmi
  zzzz_modular_occulus/icons/obj/vending.dmi
  zzzz_modular_occulus/icons/obj/xpr.dmi
Labels: Balance/Rebalance, Modular, Quality of Life, Ready to Merge

#217 Whoops all martins
  zzzz_modular_occulus/code/game/jobs/job/security.dm
Labels: Bugfix, Modular, Priority: High, Ready to Merge

#224 Changes self-harm breakdown to explicitly set flags
  code/modules/sanity/breakdowns.dm
Labels: Bugfix, Ready to Merge

#223 Blacklists the shellshock, unspaghettis leveraction sawing code
  zzz_modular_syzygy/code/game/objects/items/NZR.dm
  zzz_modular_syzygy/levergun.dm
  zzz_modular_syzygy/sawnlevergun.dm
  zzzz_modular_occulus/code/modules/projectiles/guns/projectile/rifle/magnumlever.dm
  zzzz_modular_occulus/code/modules/projectiles/guns/projectile/rifle/magnumleversawn.dm
Labels: Bugfix, Code Cleanup, Ready for review

#220 Blattedin Fix
  cev_eris.dme
  code/modules/mob/living/life.dm
  zzzz_modular_occulus/code/modules/mob/living/carbon/superior_animal/roach/blattedin.dm
Labels: Bugfix, Modular, Quality of Life, Ready to Merge

#219 Commits crimes against humanity against the people of Serbai
  cev_eris.dme
  zzzz_modular_occulus/code/modules/organs/external/subtypes/robotic _types.dm
Labels: Lore, Quality of Life, Ready to Merge

#218 Shields start turned on, adds shield boost to power vote
  cev_eris.dme
  code/game/gamemodes/events/grid_check.dm
  code/modules/shield_generators/shield_generator.dm
  zzzz_modular_occulus/code/controllers/subsystems/vote.dm
Labels: Balance/Rebalance, Quality of Life, Ready to Merge

#215 Hypospray mKII
  cev_eris.dme
  code/datums/contract.dm
  maps/CEVEris/_CEV_Eris.dmm
  zzzz_modular_occulus/code/datums/uplink/medical.dm
  zzzz_modular_occulus/code/game/machinery/vending.dm
  zzzz_modular_occulus/code/game/objects/items/weapons/storage/firstaid.dm
  zzzz_modular_occulus/code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  zzzz_modular_occulus/code/modules/reagents/reagent_containers/hypospray.dm
  zzzz_modular_occulus/code/modules/reagents/reagent_containers/hypovial.dm
  zzzz_modular_occulus/icons/mob/left_hand.dmi
  zzzz_modular_occulus/icons/mob/right_hand.dmi
  zzzz_modular_occulus/icons/obj/chemical.dmi
  zzzz_modular_occulus/icons/obj/reagentfillings.dmi
  zzzz_modular_occulus/icons/obj/storage.dmi
  zzzz_modular_occulus/icons/obj/syringe.dmi
  zzzz_modular_occulus/sound/items/hypospray.ogg
  zzzz_modular_occulus/sound/items/hypospray2.ogg
  zzzz_modular_occulus/sound/items/hypospray_long.ogg
Labels: Feature, Modular, Ready for review, Sprites

#225 Rebalances gun and tool oldifiers to be in line with other oldifiers
  zzzz_modular_occulus/code/modules/scrap/oldificator.dm
Labels: Balance/Rebalance, Code Cleanup, Quality of Life, Ready for review

#226 Fixing Rejuvinator spray
  cev_eris.dme
  zzzz_modular_occulus/code/modules/reagents/reagents/other.dm
Labels: Balance/Rebalance, Modular, Ready to Merge

#229 Fixed oopsitsbeartraps.dmm not spawning any bear traps.
  maps/submaps/deepmaint_rooms/normal/oopsitsbeartraps.dmm
Labels: Bugfix, Map Changes, Ready to Merge

#230 Icecreaaaaaam!
  cev_eris.dme
  maps/CEVEris/_CEV_Eris.dmm
  zzzz_modular_occulus/code/modules/food/kitchen/icecream.dm
  zzzz_modular_occulus/icons/obj/food.dmi
  zzzz_modular_occulus/icons/obj/kitchen.dmi
Labels: Feature, Map Changes, Modular, Ready to Merge, Sprites

#231 Hotfix for hypofillings
  zzzz_modular_occulus/icons/obj/reagentfillings.dmi
Labels: Bugfix, Modular, Ready to Merge, Sprites

#232 Makes DNA properly transfer body marking stuff, fixes the winebath not applying body markings
  code/game/dna/dna2_helpers.dm
  code/modules/core_implant/cruciform/machinery/vat.dm
Labels: Bugfix, Code Cleanup, Ready to Merge

#234 Revert "5881" Reverts overpenetration issues caused by bad Eris code
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/revolver/sky_driver.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/bullettypes.dm
Labels: Bugfix, Ready for review, Revert

#236 flavor fix
  zzzz_modular_occulus/code/modules/food/kitchen/icecream.dm
Labels: Feature, Modular, Ready to Merge

#239 Burn decal cobwebs with welding/cauterizing tools (like lighters)
  zzzz_modular_occulus/code/game/objects/effects/decals/Cleanable/misc_occulus.dm
Labels: Feature, Modular, Ready to Merge

#227 Small office changes to Cargo and Medbay
  maps/CEVEris/_CEV_Eris.dmm
Labels: Map Changes, Quality of Life, Ready to Merge

#237 Prevent tracking of oil/blood/roachguts/etc if the source tile contains a catwalk or stairs
  code/game/objects/effects/decals/Cleanable/humans.dm
Labels: Feature, Ready to Merge

#242 Moves hypospray kits from contraband to regular list in MiniPharma Plus
  zzzz_modular_occulus/code/game/machinery/vending.dm
Labels: Bugfix, Modular, Ready to Merge

#244 Removed broken machine chance from old circuitboards
  code/modules/scrap/oldificator.dm
Labels: Balance/Rebalance, Ready to Merge, Removal

#245 Adjusts EoTP
  cev_eris.dme
  code/modules/core_implant/cruciform/machinery/eotp.dm
  maps/CEVEris/_CEV_Eris.dmm
  zzzz_modular_occulus/code/game/objects/items/oddities.dm
  zzzz_modular_occulus/code/modules/core_implant/cruciform/machinery/eotp.dm
Labels: Balance/Rebalance, Map Changes, Modular, Quality of Life, Ready to Merge

#247 Bottle icon fixes
  cev_eris.dme
  maps/CEVEris/_CEV_Eris.dmm
  zzzz_modular_occulus/code/modules/reagents/reagent_containers/glass/bottle.dm
  zzzz_modular_occulus/code/modules/reagents/reagent_containers/hypovial.dm
  zzzz_modular_occulus/icons/obj/chemical.dmi
  zzzz_modular_occulus/icons/obj/reagentfillings.dmi
Labels: Modular, Quality of Life, Ready to Merge, Sprites

#251 Adds a fight club to maint.
  maps/CEVEris/_CEV_Eris.dmm
Labels: Feature, Map Changes, Ready to Merge

#252 blacklisting chemfilled vials
  zzzz_modular_occulus/code/modules/reagents/reagent_containers/hypovial.dm
Labels: Balance/Rebalance, Modular, Ready to Merge

#240 Modularizing and improving cleanbots
  cev_eris.dme
  zzzz_modular_occulus/code/modules/mob/living/bot/cleanbot_occulus.dm
Labels: Code Cleanup, Feature, Modular, Ready to Merge

#246 Adds autodoc machine
  cev_eris.dme
  maps/CEVEris/_CEV_Eris.dmm
  zzzz_modular_occulus/code/game/machinery/autodoc.dm
Labels: Feature, Modular, Quality of Life, Ready to Merge

#256 Fixes code to check for coverage while injecting
  code/modules/mob/living/carbon/human/human.dm
Labels: Bugfix, Ready to Merge

#255 ports from Eris, again
  cev_eris.dme
  code/__DEFINES/_hydro_setup.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/perks.dm
  code/datums/perks/job.dm
  code/game/atoms.dm
  code/game/jobs/job/church.dm
  code/game/jobs/job/civilian.dm
  code/game/objects/items/devices/scanners/scanners.dm
  code/game/turfs/simulated/cleaning.dm
  code/modules/core_implant/cruciform/modules.dm
  code/modules/core_implant/cruciform/rituals/agrolyte.dm
  code/modules/core_implant/cruciform/rituals/priest.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/trays/tray_process.dm
  icons/effects/perks.dmi
Labels: Feature, Ready to Merge, Upstream Update

#260 Smol item name change, smol breakdown QoL fix
  code/modules/sanity/breakdowns.dm
  zzzz_modular_occulus/code/game/occulus-lore-fixes.dm
Labels: Lore, Modular, Quality of Life, Ready to Merge

#262 Makes Glassification less silly
  code/datums/topic/admin.dm
  code/modules/admin/admin.dm
  code/modules/sanity/breakdowns.dm
Labels: Quality of Life, Ready to Merge, Upstream Update

#266 Heating and cooling fixes
  code/game/machinery/spaceheater.dm
  code/modules/research/xenoarchaeology/machinery/coolant.dm
Labels: Bugfix, Ready to Merge

#235 The Stungloves of the maintgoblins
  cev_eris.dme
  zzzz_modular_occulus/code/datum/craft/recipes/weapon.dm
  zzzz_modular_occulus/code/modules/clothing/gloves/stungloves.dm
  zzzz_modular_occulus/icons/inventory/hands/gloves.dmi
  zzzz_modular_occulus/icons/mob/gloves.dmi
Labels: Feature, Modular, Ready to Merge, Sprites

#267 Fixed stash spawning
  cev_eris.dme
  code/modules/clothing/head/armor.dm
  code/modules/stashes/stash_spawner.dm
  zzzz_modular_occulus/code/modules/stashes/stashes.dm
Labels: Bugfix, Feature, Modular, Ready to Merge

#268 Farmbot modularization and tweaks (including voice toggle)
  cev_eris.dme
  zzzz_modular_occulus/code/modules/mob/living/bot/farmbot_occulus.dm
Labels: Code Cleanup, Feature, Modular, Ready to Merge

#271 Activates #239 (burn cobwebs)
  cev_eris.dme
Labels: Bugfix, Ready for review

#272 Jamini artistfix2
  code/game/machinery/autolathe/artist_bench.dm
  code/game/objects/items/oddities.dm
  code/modules/sanity/sanity_mob.dm
Labels: Balance/Rebalance, Bugfix, Ready to Merge

#277 New SM sprites borrowed from Beestation!
  cev_eris.dme
  zzzz_modular_occulus/code/modules/Power/supermatter.dm
  zzzz_modular_occulus/icons/obj/supermatter.dmi
Labels: Modular, Ready to Merge, Sprites

#276 Fixed several sprites
  cev_eris.dme
  zzzz_modular_occulus/code/game/objects/items/weapons/storage/firstaid.dm
  zzzz_modular_occulus/code/modules/clothing/head/head.dm
  zzzz_modular_occulus/code/modules/projectiles/ammunition/bullets.dm
  zzzz_modular_occulus/code/modules/projectiles/ammunition/magazines.dm
  zzzz_modular_occulus/code/modules/reagents/reagent_containers/hypovial.dm
  zzzz_modular_occulus/icons/inventory/head/icon.dmi
  zzzz_modular_occulus/icons/inventory/head/mob.dmi
  zzzz_modular_occulus/icons/obj/ammo.dmi
  zzzz_modular_occulus/icons/obj/magazines.dmi
Labels: Balance/Rebalance, Bugfix, Quality of Life, Ready to Merge

#274 Robot QoL Changes
  code/modules/mob/living/silicon/robot/drone/_drone.dm
  code/modules/mob/living/silicon/robot/gripper.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/multiz/structures.dm
Labels: Balance/Rebalance, Quality of Life, Ready to Merge

#278 Ports #5805 (Removes .60 and explosive artist revolvers)
  code/game/machinery/autolathe/artist_bench.dm
Labels: Balance/Rebalance, Ready to Merge, Upstream Update

#280 Adjusted wound processing
  code/modules/organs/external/_external.dm
Labels: Bugfix, Quality of Life, Ready to Merge

#279 QoL for injuries -- more clarity/colors on examine
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/wound.dm
Labels: Feature, Quality of Life, Ready to Merge

#287 Properly adds Port Oscar to the game files.
  maps/CEVEris/Port_Oscar.dmm
Labels: Map Changes, Ready to Merge

#284 Adjusted some chems that were failing to process
  zzzz_modular_occulus/code/modules/reagents/reagents/medicine.dm
Labels: Balance/Rebalance, Bugfix, Modular, Quality of Life, Ready for review

#283 Gun modularity
  cev_eris.dme
  zzzz_modular_occulus/code/game/objects/objs.dm
  zzzz_modular_occulus/code/modules/projectiles/gun.dm
  zzzz_modular_occulus/code/modules/projectiles/projectile/projectile.dm
Labels: Balance/Rebalance, Modular, Ready to Merge

#290 Fix for carrion occulus editing
  code/modules/organs/internal/carrion.dm
Labels: Bugfix, Ready to Merge

#294 Changes the medical vendors to no longer have hyposprays, as per request.
  maps/CEVEris/_CEV_Eris.dmm
Labels: Balance/Rebalance, Quality of Life, Ready to Merge

#295 Add chance for roach size randomization with appropriate stat scaling
  cev_eris.dme
  code/modules/mob/living/carbon/superior_animal/superior_animal.dm
  zzzz_modular_occulus/code/modules/mob/living/carbon/superior_animal/roach/roach.dm
Labels: Balance/Rebalance, Feature, Modular, Ready to Merge

#292 fixed some typos on the new stashes
  zzzz_modular_occulus/code/modules/stashes/stashes.dm
Labels: Bugfix, Modular, Quality of Life, Ready to Merge

#300 Correct tech origin of spy sensor and propaganda chip
  cev_eris.dme
  zzzz_modular_occulus/code/game/objects/items/devices/traitor_devices.dm
Labels: Bugfix, Modular, Ready to Merge
