Repository Occulus-Server/Occulus-Eris, pull requests merged in 2021-07, with the labels that each got.

#584 EES Content Update
  cev_eris.dme
  code/game/jobs/job/engineering.dm
  zzzz_modular_occulus/code/datums/outfits/jobs/engineering.dm
  zzzz_modular_occulus/code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  zzzz_modular_occulus/code/modules/clothing/head/armor.dm
  zzzz_modular_occulus/code/modules/clothing/suit/suits.dm
  zzzz_modular_occulus/code/modules/clothing/under/under.dm
  zzzz_modular_occulus/icons/inventory/head/icon.dmi
  zzzz_modular_occulus/icons/inventory/head/mob.dmi
  zzzz_modular_occulus/icons/inventory/suit/icon.dmi
  zzzz_modular_occulus/icons/inventory/suit/mob.dmi
  zzzz_modular_occulus/icons/inventory/suit/mob_fem.dmi
  zzzz_modular_occulus/icons/inventory/uniform/icon.dmi
  zzzz_modular_occulus/icons/inventory/uniform/mob.dmi
  zzzz_modular_occulus/icons/inventory/uniform/mob_fem.dmi
Labels: Feature, Modular, Ready to Merge, Sprites

#582 shemaugh
  cev_eris.dme
  zzzz_modular_occulus/code/modules/client/preference_setup/loadout/lists/accessories.dm
  zzzz_modular_occulus/code/modules/clothing/masks/masks.dm
  zzzz_modular_occulus/icons/inventory/mask/icon.dmi
  zzzz_modular_occulus/icons/inventory/mask/mob.dmi
Labels: Modular, Ready to Merge, Sprites

#585 Gives the loadout turtleneck sensors
  zzzz_modular_occulus/code/game/objects/items/toys/costume.dm
Labels: Quality of Life, Ready to Merge

#586 More lag reduction from upstream
  cev_eris.dme
  code/__DEFINES/plumbing.dm
  code/controllers/subsystems/machines.dm
  code/controllers/subsystems/processing/fluids.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/craft/recipes/machinery.dm
  code/datums/ductnet.dm
  code/game/objects/items/weapons/design_disks/technomancers.dm
  code/modules/biomatter_manipulation/biogenerator.dm
  code/modules/biomatter_manipulation/solidifier.dm
  code/modules/core_implant/cruciform/machinery/cloning.dm
  code/modules/hivemind/core.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/plumbing/ducts.dm
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  code/modules/plumbing/plumbers/bottler.dm
  code/modules/plumbing/plumbers/destroyer.dm
  code/modules/plumbing/plunger.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/nodes/engineering.dm
Labels: Code Cleanup, Ready for review, Upstream Update

#591 Allows face-dir and pixelshifting while lying (but not incapacitated)
  code/modules/mob/mob.dm
Labels: Bugfix, Feature, Quality of Life

#590 Nobles start with 5x the regular amount in their accounts
  code/game/jobs/job/job.dm
  code/game/jobs/wages.dm
Labels: Balance/Rebalance, Code Cleanup, Ready to Merge

#589 eris ports. you know what it is.
  cev_eris.dme
  code/__DEFINES/spawner/_spawner.dm
  code/datums/craft/crafting_items.dm
  code/datums/craft/recipes/weapon.dm
  code/datums/perks/oddity.dm
  code/game/objects/items/weapons/material/bats.dm
  code/game/objects/items/weapons/tools/hammer.dm
  code/game/objects/items/weapons/tools/simple_weapons.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/projectiles/ammunition/ammo_kits.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/projectile/automatic/type17.dm
  code/modules/projectiles/guns/projectile/battle_rifle/type47.dm
  code/modules/projectiles/guns/projectile/pistol/type42.dm
  code/modules/projectiles/guns/projectile/pistol/type69.dm
  icons/effects/perks.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/guns/projectile/os/type_17.dmi
  icons/obj/guns/projectile/os/type_42.dmi
  icons/obj/guns/projectile/os/type_47.dmi
  icons/obj/guns/projectile/os/type_69.dmi
  icons/obj/weapons.dmi
Labels: Balance/Rebalance, Code Cleanup, Feature, Ready to Merge, Upstream Update

#588 Completely Reinvents Telescience
  cev_eris.dme
  code/game/objects/effects/portals.dm
  code/modules/multiz/map_data.dm
  code/modules/research/nodes/bluespace.dm
  code/modules/telesci/circuits.dm
  maps/CEVEris/_CEV_Eris.dmm
  maps/CEVEris/centcomm.dmm
  zzzz_modular_occulus/code/modules/telescience/telepad.dm
  zzzz_modular_occulus/code/modules/telescience/telepad_computer.dm
  zzzz_modular_occulus/code/modules/telescience/telepad_relay.dm
  zzzz_modular_occulus/code/modules/telescience/teleport_blocker.dm
  zzzz_modular_occulus/icons/obj/telescience.dmi
  zzzz_modular_occulus/nano/templates/telesci_console.tmpl
  zzzz_modular_occulus/sound/effects/telesci_ping.ogg
Labels: Balance/Rebalance, Code Cleanup, Feature, Ready to Merge

#592 Occultist Framework Addition: Bring Darkness, Rust, King of Beasts, Truth in Blood, Embrace Corruption
  cev_eris.dme
  zzzz_modular_occulus/code/game/antagonist/station/occultist.dm
  zzzz_modular_occulus/code/game/gamemodes/occultist/occultist_mind.dm
  zzzz_modular_occulus/code/game/gamemodes/occultist/occultist_powers.dm
Labels: Feature, Framework Addition, Modular, Ready for review

#587 Probrably stops the atuodoc from charging for autoscans
  code/modules/surgery/autodoc.dm
Labels: Bugfix, Changes Requested, Quality of Life

#596 adds area blurbs
  cev_eris.dme
  code/game/area/areas.dm
  code/modules/client/preference_setup/global/preferences.dm
  zzzz_modular_occulus/code/modules/game/areas/areablurb.dm
Labels: Feature, Ready to Merge

#597 Bunch of upstream ports
  code/game/machinery/adv_med.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/superior_animal/attack.dm
  code/modules/mob/living/carbon/superior_animal/superior_animal.dm
  icons/inventory/feet/icon.dmi
  icons/inventory/feet/mob.dmi
  icons/inventory/hands/icon.dmi
  icons/inventory/hands/mob.dmi
  icons/inventory/head/icon.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/icon.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/suit/mob_fem.dmi
  icons/mob/rig_back.dmi
  icons/obj/rig_modules.dmi
  maps/CEVEris/_CEV_Eris.dmm
Labels: Code Cleanup, Feature, Map Changes, Ready to Merge, Upstream Update

#598 Ports upsteam roach-revamp PR
  code/__DEFINES/time.dm
  code/_onclick/click.dm
  code/game/atoms.dm
  code/game/objects/effects/roaches.dm
  code/game/objects/random/spawner.dm
  code/game/objects/structures/railing.dm
  code/modules/food/recipes_microwave.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/mob/living/carbon/superior_animal/ai.dm
  code/modules/mob/living/carbon/superior_animal/defense.dm
  code/modules/mob/living/carbon/superior_animal/life.dm
  code/modules/mob/living/carbon/superior_animal/roach/life.dm
  code/modules/mob/living/carbon/superior_animal/roach/riding.dm
  code/modules/mob/living/carbon/superior_animal/roach/roach.dm
  code/modules/mob/living/carbon/superior_animal/roach/types/kaiser.dm
  code/modules/mob/living/carbon/superior_animal/roach/types/nanites.dm
  code/modules/mob/living/carbon/superior_animal/roach/types/roachling.dm
  code/modules/mob/living/carbon/superior_animal/roach/types/toxic.dm
  code/modules/mob/living/carbon/superior_animal/superior_animal.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/mob_grab_specials.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/railing.dmi
Labels: Balance/Rebalance, Code Cleanup, Feature, PR dependencies, Ready to Merge, Upstream Update

#599 Wielded weapons no longer embed
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Balance/Rebalance, Ready to Merge

#604 Swaps out the eris logo for the occulus logo
  icons/ss13_32.png
  icons/ss13_64.png
Labels: Ready for review, Sprites

#600 Add the Aegis Communal Braincell
  maps/CEVEris/_CEV_Eris.dmm
  zzzz_modular_occulus/code/game/objects/items/plush.dm
  zzzz_modular_occulus/icons/obj/plush.dmi
Labels: Ready to Merge, Shitpost, Sprites

#610 This can be safely ignored as it changes nothing
  .gitignore
  config/.gitignore
  config/example/access levels.txt
  config/example/admin_ranks.txt
  config/example/admins.txt
  config/example/config.txt
  config/example/custom_items.txt
  config/example/dbconfig.txt
  config/example/game_options.txt
  config/example/jobs.txt
  config/example/mentors.txt
  config/example/moderators.txt
  config/example/motd.txt
  config/example/rules.html
  config/example/svndir.txt
  config/names/adjectives.txt
  config/names/ai.txt
  config/names/clown.txt
  config/names/death_commando.txt
  config/names/first.txt
  config/names/first_female.txt
  config/names/first_male.txt
  config/names/last.txt
  config/names/verbs.txt
  config/names/wizardfirst.txt
  config/names/wizardsecond.txt
Labels: Administrative, Bugfix, Code Cleanup, Priority: Critical, Unreviewed Merge

#605 port oscar part 24
  maps/CEVEris/Port_Oscar.dmm
Labels: Map Changes, Ready to Merge

#607 Gives the Mek E-mace proper onhand sprites
  zzzz_modular_occulus/code/game/objects/items/weapons/design_disks/mekhane.dm
  zzzz_modular_occulus/icons/obj/mek_melee.dmi
Labels: Bugfix, Ready for review, Sprites

#611 Refactors the Church vat, Cryo, Some drugs, and a bunch of other small things
  code/game/machinery/cryo.dm
  code/modules/core_implant/cruciform/machinery/obelisk.dm
  code/modules/core_implant/cruciform/machinery/vat.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/organs/organ.dm
  code/modules/reagents/reagents/medicine.dm
  maps/CEVEris/_CEV_Eris.dmm
  nano/templates/cryo.tmpl
  zzzz_modular_occulus/code/modules/clothing/suit/suits.dm
  zzzz_modular_occulus/code/modules/loadout/lists/suits.dm
Labels: Balance/Rebalance, Bugfix, Map Changes, More Information Needed, Quality of Life, [REDACTED]

#602 Unathi Age Lore Compliance and Double Horn Fix
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/sprite_accessories/sprite_accessories_vr.dm
Labels: Changes Requested, Lore Compliance, Ready for review

#613 makes rubbers hurt more to compensate for erismed
  zzzz_modular_occulus/code/modules/projectiles/projectile/bullettypes.dm
Labels: Balance/Rebalance, Modular, Ready to Merge

#614 I am Jamini. Bringer of Salt. Behold my works and weep.
  code/modules/mob/living/carbon/superior_animal/roach/attack.dm
  zzzz_modular_occulus/code/modules/clothing/head/armor.dm
  zzzz_modular_occulus/code/modules/clothing/suit/suits.dm
  zzzz_modular_occulus/code/modules/mob/living/carbon/superior_animal/roach/roach.dm
Labels: Balance/Rebalance, Quality of Life, Ready for review

#615 Comments
  code/modules/mob/living/carbon/superior_animal/roach/attack.dm
Labels: Code Cleanup, Ready to Merge

#616 updates comments for roach attack.dm
  code/modules/mob/living/carbon/superior_animal/roach/attack.dm
Labels: Code Cleanup, Ready to Merge

#618 Adds The Thing EES Can't Find
  cev_eris.dme
  zzzz_modular_occulus/code/game/machinery/bsd.dm
  zzzz_modular_occulus/icons/obj/BSD.dmi
Labels: Ready to Merge, [REDACTED]

#617 port oscar part 25
  maps/CEVEris/Port_Oscar.dmm
Labels: Map Changes, Work in Progress
